.slide-container
    width: 100%
    min-height: 739px
@keyframes fade 
    0%   
        opacity: 0
    11.11%  
        opacity: 1
    33.33%  
        opacity: 1
    44.44%  
        opacity: 0
    100% 
        opacity: 0
.fadein 
	position: relative
	@include wh(100%, 100%)
.fadein div 
	position: absolute
	@include wh(100%, 711px)
	left: 0 
	right: 0
	opacity: 0
	animation-name: fade
	animation-duration: 15s
	animation-iteration-count: infinite
.fadein img 
	position: absolute
.fadein div:nth-child(1)  
    animation-delay: 0s
.fadein div:nth-child(2) 
    animation-delay: 5s
.fadein div:nth-child(3) 
    animation-delay: 10s
.fadein .slider-text, .slideText2, .slideText3
	position: relative
	top: 100px
	color: $green
	font-size: 40px
	font-weight: 700
	opacity: 0
	animation-name: fade
	animation-duration: 15s
	animation-iteration-count: infinite
	z-index: 1
	text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a
	-webkit-transform-style: preserve-3d
    transform-style: preserve-3d
.fadein h1 div:nth-child(1) 
    animation-delay: 0s
.fadein div:nth-child(2) 
    animation-delay: 5s
.fadein div:nth-child(3) 
    animation-delay: 10s
.fadein .slideText2:nth-child(2) 
    animation-delay: 5s
.fadein .slideText3 
    animation-delay: 10s
.slider-text 
    width: 80%
    position: relative
    left: 30px
.slideText2
    width: 80%
    position: relative
    left: 30px
.slideText3
    width: 80%
    position: relative
    left: 30px
@media screen and (max-width: 1440px)
    .fadein div, .fadein img
        width: 100%
@media screen and (max-width: 1400px)
    .slide-container
        min-height: 600px
@media screen and (max-width: 1130px)
    .fadein .slider-text, .slideText2, .slideText3
        font-size: 30px
        top: 25px
        color: $green
        text-shadow: 1px 1px #2c3026
    .fadein div, .fadein img
        height: 550px
        width: 100%
    .slide-container
        min-height: 550px
@media screen and (max-width: 768px)
    .fadein .slider-text, .slideText2, .slideText3
        font-size: 25px
    .fadein div, .fadein img
        height: 400px
    .slide-container
        min-height: 400px
@media screen and (max-width: 625px)
    .fadein .slider-text, .slideText2, .slideText3
        font-size: 16px
        top: 20px
    .fadein div, .fadein img
        height: 250px
    .slide-container
        min-height: 250px
@media screen and (max-width: 400px)
    .fadein div, .fadein img
        height: 200px
    .slide-container
        min-height: 200px


