.HowItWork-container
    margin-top: 20px
    width: 100%
    min-height: 700px
    background-image: url(../../images/advantages.jpg)
    @include bg 
    background-size: cover
    @include flex-jc
.HowItWork
    display: flex
.HowItWork-box
    width: 50%
.HowItWork-box h3
    @include h3(white)
.HowItWork-box ul 
    margin-top: 40px
    @include text-settings(normal, 600, 18px, white)
.HowItWork-box li 
    @include text-settings(normal, 400, 16px, white)
    margin: 5px 0px 5px 0px
