.job
    margin-top: 20px
    border-top: 4px solid#858585
    border-bottom: 4px solid#858585
    padding-top: 20px
    padding-bottom: 20px
.job-container
    width: 100%
    min-height: 600px
    background-image: url(../../images/company1.png)
    @include bg 
    background-size: cover
.job-container h3
    @include h3(black)
    text-align: center
.job-info
    width: 100%
    display: flex
.job-info-text
    width: 50%
.job-info-text p
    margin-left: 30px
    margin-top: 10px
    @include text-settings(normal, 700, 18px, black)
    text-align: center
.job-description
    text-align: left !important
    margin-bottom: 40px
.job-info-text a
    margin-left: 30px
    @include text-settings(normal, 700, 20px, black)
    @include link(black)
    border-bottom: 1px solid black
@media screen and (max-width: 900px)
    .job-description
        margin-bottom: 20px
@media screen and (max-width: 768px)
    .job-container
        background-size: cover
        background-position: top
        min-height: 500px
        display: flex
        flex-direction: column
    .job-container h3
        padding-top: 10px
    .job-info
        flex-direction: column
    .job-description
        margin-bottom: 20px
    .job-info-text
        width: 100%
    .job-info-text p
        text-align: left
        text-shadow: -1px -1px white, 1px 0px white
@media screen and (max-width: 375px)
    .job-info-text p
        font-size: 14px
    .job-info-text a
        font-size: 16px