@import "./reset/reset.css";
html
    box-sizing: border-box 
*, *:before, *:after
    box-sizing: inherit
body 
    overflow-x: hidden
    font-style: normal
.wrapper 
    width: 100%
    margin: 0
    min-height: 500px