@import "./reset/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap');
@mixin w100
    width: 100%
@mixin flex-jc
    display: flex
    justify-content: center
@mixin flex-ac
    display: flex
    align-items: center
@mixin flex
    display: flex
    align-items: center
    justify-content: center
@mixin bg
    background-position: center
    background-repeat: no-repeat
    display: inline-block
@mixin item-settings($width, $height)
    width: $width
    height: $height
@mixin text-settings($fstyle, $fweight, $fsize, $color)
    font-style: $fstyle
    font-weight: $fweight
    font-size: $fsize
    color: $color
    font-family: 'Lora', serif
@mixin border
    transform: skew(-25deg)
@mixin link($color)
    text-decoration: none
    text-transform: none
    outline: none
    color: $color
html
    box-sizing: border-box 
*, *:before, *:after
    box-sizing: inherit
body 
    overflow-x: hidden
    font-style: normal
.wrapper 
    margin: 0
    min-height: 500px
    display: flex
    flex-direction: column
    align-items: center
.inline-wrapper
    @include flex-jc
    width: 1400px
.wrapper, header, main, .inline-header, .col-h50
    @include w100
.col-w10
    width: 10%
.col-w20
    width: 20%
.col-w50
    width: 50%
.col-w80
    width: 80%
.col-w90
    width: 90%
.col-w100
    width: 100%
.col-h50
    display: block
    height: 50%
.col-h30
    height: 30%
.col-h35
    height: 35%
.col-h40
    height: 40%
.col-h70
    height: 70%
.h100
    height: 100%

@import "../header/header.sass";
@import "../main/main.sass";
@import "../main/slider/slider.sass";