header
    min-height: 120px
    border-top: 4px solid#8cbf41
    border-bottom: 4px solid#8cbf41
    @include flex-jc
.logo-container
    @include item-settings(100%, 140px)
.logo
    background-image: url(https://anton-bendryk-dev.github.io/logistics-solutions/static/media/logo.cdecdd04.png)
    min-width: 240px
    height: 100%
    @include bg
.contacts-container-main
    display: flex
    justify-content: flex-end
.contacts-container
    @include item-settings(80%, 100%)
.top-contacts-container
    @include item-settings(100%, 50%)
    @include border
    background-color: #8cbf41
.contacts
    @include item-settings(100%, 100%)
    transform: skew(25deg)
.phones
    @include flex-ac
    justify-content: space-around
.phones p
    @include text-settings(normal, 600, 14px, white)
.email
    display: flex
    justify-content: space-around
.email a
    @include link(white)
.email a:hover
    color: grey
.navigations
    @include item-settings(100%, 100%)
.navigation-container
    @include item-settings(99%, 100%)
    @include border
    background-color: #8cbf41
.menu-container
    display: flex
    justify-content: space-around
    padding: 10px 0px 0px 10px
.menu-buttons
    @include item-settings(100%, 100%)
    border: 1px solid white
.menu-buttons a
    @include item-settings(100%, 100%)
    @include flex
    @include link(white)
    @include text-settings(normal, 600, 14px, white)
    transform: skew(25deg)
.menu-buttons:hover
    background-color: white
    -webkit-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
    -moz-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)

.menu-buttons a:hover
    color: #8cbf41
    font-size: 16px