.ourAdvantages-container
    min-height: 400px
    width: 100%
    @include flex-ac
    flex-direction: column
.inline-ourAdvantages
    width: 40%
    display: flex
    flex-direction: column
    border-bottom: 3px solid #858585
.ourAdvantagesH3
    width: 100%
.ourAdvantages-container h3 
    @include h3($green)
.advantageBoy
    margin-top: 20px
    width: 100%
    min-height: 400px
    background-image: url(../../images/boy.jpg)
    @include bg
    background-position: left
    background-size: contain
.ourAdvantages
    width: 60%
    min-height: 200px
    @include flex-ac
    flex-direction: column
    padding-bottom: 20px
    border-bottom: 3px solid #858585
.advantage
    background: white
    margin-top: 20px
    width: 80%
    min-height: 124px
    display: flex
    border: 5px solid $green
    -webkit-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
    -moz-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
.benefit1
    background-image: url(../../images/benefits/benefits1.png)
.benefit2
    background-image: url(../../images/benefits/benefits2.png)
.benefit3
    background-image: url(../../images/benefits/benefits3.png)
.benefit4
    background-image: url(../../images/benefits/benefits4.png)
.benefit5
    background-image: url(../../images/benefits/benefits5.png)
.benefit6
    background-image: url(../../images/benefits/benefits6.png)
.advantageImg-box 
    @include wh(20%, 100%)
    @include bg
    background-position: center
    background-size: inherit
.advantageText-box
    width: 60%
    @include flex
    @include text-settings(normal, 600, 16px, $green)
    text-align: center
.check
    @include wh(20%, 100%)
    background-image: url(../../images/art-check2.png)
    @include bg
    background-position: center
    background-size: inherit
@media screen and (max-width: 900px)
    .advantage
        align-items: center
    .advantageImg-box 
        background-size: contain
        height: 100px
    .inline-ourAdvantages-container
        flex-direction: column
    .inline-ourAdvantages
        width: 100%
        border-bottom: none
        flex-direction: revert
    .ourAdvantages
        width: 100%
    .check
        background-size: contain
        height: 100px
    .advantageBoy
        min-height: 200px
        background-position: center
@media screen and (max-width: 470px)
    .ourAdvantages-container h3 
        font-size: 18px
    .advantageImg-box, .check
        height: 80px
    .advantageText-box
        font-size: 12px
@media screen and (max-width: 375px)
    .advantage
        min-height: 100px
    .ourAdvantages-container h3 
        font-size: 16px